<h2 class="content-block">Scores</h2>

<dx-data-grid class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [height]="490"
  [columnHidingEnabled]="true">

  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-grouping 
  [contextMenuEnabled]="true"> 
</dxo-grouping>
<dxo-group-panel 
  [visible]="true"> <!-- or "auto" -->
</dxo-group-panel>

  <dxi-column
    dataField="user.membership.membershipNumber"
    caption="Membership Number"
    [groupIndex]="1"
    [hidingPriority]="10">
  </dxi-column>

  <dxi-column caption="Member Name" [hidingPriority]="2" [calculateCellValue]="fullNameColumn_calculateCellValue"></dxi-column>

  <dxi-column
    dataField="reservation.resevationNumber"
    [hidingPriority]="8">
  </dxi-column>
  <dxi-column
    dataField="date"
    dataType="date"
    format="dd/MM/yyyy"
    caption="Date Played"
    [hidingPriority]="9">
  </dxi-column>

  <dxi-column
    dataField="totalScore"
    caption="Total Score"
    [hidingPriority]="6">
  </dxi-column>

  <dxi-column caption="Handicap" [hidingPriority]="2" [calculateCellValue]="handicap_calculateCellValue"></dxi-column>

</dx-data-grid>
