<ng-container *ngIf="isAuthenticated(); else unauthenticated">
  <app-side-nav-outer-toolbar title="{{appInfo.title}}" [navItems]="authService.navItems">
    <router-outlet></router-outlet>
    <app-footer>
      Copyright © 2020-{{appInfo.currentYear}} {{appInfo.title}} Inc.
      <br/>
      All trademarks or registered trademarks are property of their respective owners.
    </app-footer>
  </app-side-nav-outer-toolbar>
</ng-container>

<ng-template #unauthenticated>
  <app-unauthenticated-content [title]="title" [description]="description"></app-unauthenticated-content>
</ng-template>
