<dx-form [colCount]="2" style="margin-bottom: 10px;">
    <dxi-item #selectBox dataField="subDomainId"
    editorType="dxSelectBox"
    [editorOptions]="{
        dataSource: reservationTypes,
        valueExpr: 'id',
        displayExpr: 'description',
        value: reservationTypeSelectedValue,
        disabled: reservationTypeDisabled,
        openOnFieldClick: true,
        minSearchLength: 0,
        onValueChanged: onReservationTypeValueChange }">
        <dxo-label
        text="Select Reservation Type">
        </dxo-label>  

        <!-- <dx-select-box #selectBox
        [dataSource]="reservationTypes "
        displayExpr="description"
        valueExpr="id"
        [value]="reservationTypeSelectedValue"
        [disabled]="reservationTypeDisabled"
        (onValueChanged)="onReservationTypeValueChange($event)"></dx-select-box> -->

    </dxi-item>
</dx-form>
    
    <!-- <div class="dx-fieldset" style="margin-right: 0px; margin-left: 0px;">
        <div class="dx-field">
            <div class="dx-field-label">Select Reservation Type</div>
            <div class="dx-field-value">
                <dx-select-box #selectBox
            [dataSource]="reservationTypes "
            displayExpr="description"
            valueExpr="id"
            [value]="reservationTypeSelectedValue"
            [disabled]="reservationTypeDisabled"
            (onValueChanged)="onReservationTypeValueChange($event)"></dx-select-box>
            </div>
        </div>
    </div> -->
<form action="action" (submit)="onFormSubmit($event)">
<dx-form id="form"
    [formData]="reservationData"
    [colCount]="2"
    [showValidationSummary]="true"
    (onFieldDataChanged)="fieldDataChanged($event)">
    <dxi-item itemType="group" caption="User Info">
    <dxi-item dataField="user.membership.membershipNumber" 
    [editorOptions]="editorOptions">
        <dxo-label
        text="Membership Number">
        </dxo-label>  
        <dxi-validation-rule type="required" message="Membership Number is required"></dxi-validation-rule>
        <dxi-validation-rule type="async" message="Invalid Membership Number" [validationCallback]="asyncValidationMembershipNumber"></dxi-validation-rule>
    </dxi-item>

    <dxi-item dataField="user.fullName" [disabled]="true">
        <dxo-label
        text="Member Name">
        </dxo-label>  
    </dxi-item>

    <dxi-item dataField="user.membership.membershipType" [disabled]="true">
        <dxo-label
        text="Membership Type">
        </dxo-label>  
    </dxi-item>
        
    </dxi-item>
        <dxi-item itemType="group" caption="Reservation Info">
            <dxi-item dataField="startDate"
            editorType="dxDateBox"
            [editorOptions]="{
                    type: 'datetime',
                    adaptivityEnabled: true,
                    height: 36,
                    width: '100%',
                    min: minStartDate
                }">
    <dxi-validation-rule type="required"></dxi-validation-rule>
    <dxi-validation-rule type="custom"
                         [reevaluate]="true"
                         [validationCallback]="timeValidation">
    </dxi-validation-rule>
    <dxi-validation-rule type="async" [message]="asyncMessageString" [validationCallback]="asyncValidationTimeSlot"></dxi-validation-rule>
  </dxi-item>
  <dxi-item dataField="endDate"
            editorType="dxDateBox"
            [editorOptions]="{
                    type: 'datetime',
                    height: 36,
                    width: '100%',
                    readOnly: true
                }">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-item>
            <dxi-item dataField="numberOfPlayers"
            editorType="dxSelectBox"
            [editorOptions]="{
                    dataSource: playersDropdown,
                    readOnly: isStanding
                }">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="isApproved"
        editorType="dxCheckBox"
        [visible]="isStanding"
        [editorOptions]="{ readOnly: true }">
<dxo-label text="Approved">
</dxo-label>
</dxi-item>
<dxi-item dataField="notes"
        editorType="dxTextArea"
        [editorOptions]="{
                height: 55
            }">
</dxi-item>
        </dxi-item>

        <dxi-item 
            itemType="button"
            horizontalAlignment="left"
            [buttonOptions]="createButtonOptions"
            [visible]="isNew"
            [disabled]="loading"
            >
        </dxi-item>

        <dxi-item 
            itemType="button"
            horizontalAlignment="left"
            [buttonOptions]="updateButtonOptions"
            [visible]="!isNew"
            [disabled]="loading">
        </dxi-item>

        <dxi-item 
            itemType="button"
            horizontalAlignment="left"
            [buttonOptions]="cancelButtonOptions">
        </dxi-item>

     
 </dx-form>
    </form>