<h2 class="content-block">Reservations</h2>

<dx-data-grid class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [height]="490"
  [columnHidingEnabled]="true"
  (onRowClick)="startEdit($event)">

  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-grouping 
  [contextMenuEnabled]="true"> 
</dxo-grouping>
<dxo-group-panel 
  [visible]="true"> <!-- or "auto" -->
</dxo-group-panel>

  <dxi-column
    dataField="user.membership.membershipNumber"
    caption="Membership Number"
    [groupIndex]="1"
    [hidingPriority]="2">
  </dxi-column>

  <dxi-column caption="Member Name" [calculateCellValue]="fullNameColumn_calculateCellValue"></dxi-column>

  <dxi-column
    dataField="resevationNumber"
    [hidingPriority]="8">
  </dxi-column>
  <dxi-column
    dataField="startDate"
    dataType="date"
    format="dd/MM/yyyy hh:mm"
    caption="Start Time"
    [hidingPriority]="6">
  </dxi-column>
  <dxi-column
    dataField="endDate"
    caption="End Time"
    dataType="date"
    format="dd/MM/yyyy hh:mm"
    [hidingPriority]="5">
  </dxi-column>

  <dxi-column
    dataField="numberOfPlayers"
    caption="Players"
    [hidingPriority]="5">
  </dxi-column>

  <dxi-column
    dataField="createdBy"
    caption="Created By"
    [hidingPriority]="5">
  </dxi-column>

  <dxi-column
    dataField="createdDateTime"
    dataType="date"
    format="dd/MM/yyyy hh:mm"
    caption="createdTime"
    [hidingPriority]="5">
  </dxi-column>

  <dxi-column caption="Member Name" [calculateCellValue]="reservationStatus_calculateCellValue" sortOrder="desc" allowSorting="true" [groupIndex]="2" allowGrouping="true"></dxi-column>

</dx-data-grid>
